@import url(style/header.css);
@import url(style/hero.css);
@import url(style/info_cursos.css);
@import url(style/footer.css);
@import url(style/page_rutas_aprendisaje.css);
@import url(style/page_cursos.css);
@import url(style/page_login.css);
@import url(style/page_contenido.css);


*{
    --color_fondo_h:#000000;
    --color_letra_blanco:#ffffff;
    --color_letra_negro:#000000;
    --color_fondo1:#000000;
    --color-bordes1:#6A737B;
    --color-fondo_ra:#F8F8F8;


    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--color_letra_blanco);
}
body{
    width: 100%;
    margin: auto;
}
main{
    padding: 1em 1.5em;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--color-bordes1);
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h4{
    font-size:1em;
}
p{
    font-size: 1em;
}
a{
    text-decoration: none;
}
/* Le da formas a los bordesitos */
.bordes_de{
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--color-bordes1);
}
.agrandar:hover{
    transform: scale(1.1);
}



/* Media queares */
/* Desktop medio */
@media (max-width: 1200px){
}
/* Tablets */
@media(max-width: 992px){
    main{
        width: 90%;
    }
    header{
        .barra_navegacion{
            padding: 1em 2em;
        }
    }
    .info_hero{
        width: 100%;
        h2{
            font-size: 1.5em;
            font-weight: normal;
        }
        p{
            line-height: 1em;
            font-weight: 100;
        }
    }
    .info_cursos{
        flex-direction: column;
        h2{
            width: 100%;
            padding: 1em;
        }
        .caja_lista{
            width: 100%;
        }
    }
    footer{
        .caja_listas_footer{
            padding: 3em 0;
        }
    }
    /* Pagina login */
    .formulario_lp{
        h2{
            text-align: center;
        }
    }
}
/* Moviles */
@media(max-width: 576px){
    header{
        .barra_navegacion{
            padding: 1em ;
            div{
                .lista{
                    padding: 1.5em 1em;
                    display: flex;
                    flex-direction: column;
                    position:fixed;
                    top: 0;
                    right: -300px;
                    height: 100vh;
                    width: 200px;
                    background-color:var(--color_fondo1);
                    transition: 0.3s;
                    .cerrar{
                        display: block;
                    }
                }
                .menu{
                    display: block;
                }
                
            }
        }
    }
    main{
        width: 100%;
    }
}
.mv_ver{
    right: 0;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color:var(--color_fondo1);
    transition: 0.3s;
    list-style: none;
    gap: 2em;
}