/* Contenedora de toda la ecion */
.info_cursos{
    margin: 0;
    padding: 1em 0;
    height: auto;
    min-height: 50vh;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    /* Pregunta de la caja */
    h2{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--color_letra_negro);
        border-radius: 0.5em;
        border: 0.1em solid var(--color-bordes1);   
        box-shadow: 0 0 0.5em var(--color-bordes1);
    }
    /* Contiene todos los elemetos de la lista */
    .caja_lista{
        width: 70%;
        padding: 2em 4em;
        line-height: 2.5em;
        border-radius: 0.5em;
        border: 0.1em solid var(--color-bordes1);   
        box-shadow: 0 0 0.5em var(--color-bordes1);

        /* Modifica todos los elemtos de la lista */
        li{
            color: var(--color_letra_negro);
            font-size: 1em;
            text-align: justify;
            list-style-type: style circle;;
        }
        span{
            color: var(--color_letra_negro);
            font-size: 1em;
            font-weight: 600;
        }
    }
}